.about-page
  .column-half
    .face
      = image_tag("rose.jpg", class: "main-image")

    .party
      = link_to image_tag("party.png", class: "party-text"), root_path
  .column-half.intro
    .content
      %p
        Kiaora, I'm Rose Lu! <br> <br>

        I'm a Ruby on Rails developer based in Wellington, New Zealand. I've been working as a software developer since 2012, and have also been involved in community work with
        = link_to "Rails Girls", "http://railsgirls.com"
        and
        = link_to "Youthline.", "http://youthline.co.nz"
        <br> <br>

        I'm currently travelling around east Asia, doing some work for
        = link_to "Enspiral", "http://whatis.enspiral.com/"
        and meeting people involved in social enterprise, open source, and other cool projects. <br> <br>

        Outside of work I'm usually found cycling, yoga-ing, cooking and hanging out. <br> <br>

        You can follow me on
        = link_to "twitter", "http://twitter.com/plainricedinner"
        or
        = link_to "github.", "http://github.com/niceking"
        <br> <br>

        .emoji
          🙃 🦄 🙌 💩
