.party
  .pad-border-top
  .pad-border-left
  = render 'p'
  = render 'space'
  = render 'a'
  = render 'space'
  = render 'r'
  = render 'space'
  = render 't'
  = render 'space'
  = render 'y'
  = render 'space'
  = render 'exclamation_mark'
  .pad-border-right
  .pad-border-bottom
