<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'poop.ico' %>
  <title>HELLO I AM ROSE</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta property="og:image" content="https://nationalpostcom.files.wordpress.com/2015/04/poops.jpg?quality=65&strip=all&w=620" />
  <meta property="og:description" content="Rose Lu Party" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
